
<div class="inner-banner has-base-color-overlay text-center" style="background: url(images/background/Customer-Support_Banner.jpg);">
    <div class="container">
        <div class="box">
            <h3>contact Us</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>

<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="#!/home">Home</a>
                </li>
                <li>
                    contact Us
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
    </div><!-- /.container -->
</div>


<section class="contact_details sec-padd">
    <div class="container">
        <div class="section-title">
            <h3>contact details</h3>
        </div>
        <div class="text">
            <p>If you want to express your feelings to Clients | Customers | Target audience | Your near and dear ones. Get in Touch With Us.</p>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="default-cinfo">
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn active">
                                Corporate Office
                                <!--<div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>-->
                            </div>
                            <div class="acc-content collapsed">
                                <ul class="contact-infos">
                                    <li>
                                        <div class="icon_box">
                                            <i class="fa fa-home"></i>
                                        </div><!-- /.icon-box -->
                                        <div class="text-box">
                                            <p><b>Address:</b> EI LABS 2, gate no.2, VIP Karishma, Shankar NAGAR, Raipur 492001 </p>
                                        </div><!-- /.text-box -->
                                    </li>
                                    <li>
                                        <div class="icon_box">
                                            <i class="fa fa-phone"></i>
                                        </div><!-- /.icon-box -->
                                        <div class="text-box">
                                            <p><b>Call Us:</b> <br>+91 8982 222356 <br /> 91- 9643 441731</p>
                                        </div><!-- /.text-box -->
                                    </li>
                                    <li>
                                        <div class="icon_box">
                                            <i class="fa fa-envelope"></i>
                                        </div><!-- /.icon-box -->
                                        <div class="text-box">
                                            <p><b>Mail Us:</b> <br>For business queries: bsentinal@eilabs.org <br />For personal queries: pr@eilabs.org</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon_box">
                                            <i class="fa fa-clock-o"></i>
                                        </div><!-- /.icon-box -->
                                        <div class="text-box">
                                            <p><b>Opening Time:</b> <br>Mon - Sat: 10.00am to 8.30pm</p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="home-google-map">
                    <!--<div 
                        class="google-map" 
                        id="contact-google-map" 
                        data-map-lat="41.363800" 
                        data-map-lng="-74.273110" 
                        data-icon-path="images/logo/map-marker.png"
                        data-map-title="Chester"
                        data-map-zoom="11" >

                    </div>-->
                    <div id="map" style="height:460px;"></div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="border-bottom"></div>
</div>

<section class="contact_us sec-padd">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h3>Send Your Message Us</h3>
                </div>
                <div class="default-form-area">
                    <form id="contact-form" name="contact_form" class="default-form">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="form-group">
                                    <input type="text" name="form_name" class="form-control" value="" placeholder="Your Name *" data-ng-model="contact.Name" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" name="form_email" class="form-control required email" value="" placeholder="Your Mail *" data-ng-model="contact.Email" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="form_phone" class="form-control" value="" placeholder="Phone" data-ng-model="contact.Phone" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="form_nationality" class="form-control" value="" placeholder="Nationality" data-ng-model="contact.Nationality" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <textarea name="form_message" class="form-control textarea required" placeholder="Your Message...." data-ng-model="contact.Message" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                     <button class="thm-btn thm-color" type="button" data-ng-click="sendEmail()">send message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div data-ng-hide="message == '' || error == true" class="alert alert-dismissible alert-info text-center" style="margin-bottom:40px;">
                        {{message}}
                        <br />
                    </div>
                    <div data-ng-hide="message == '' || success == true" class="alert alert-dismissible alert-danger text-center" style="margin-bottom:40px;">
                        {{message}}
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(21.26066, 81.66872);
        var mapOptions = { center: myCenter, zoom: 15 };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({
            position: myCenter,
            animation: google.maps.Animation.BOUNCE
        });
        marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSZjRfsW7VaifQujAUCA8LAvzLiV4blA&callback=myMap"></script>