
<footer class="main-footer">

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <div class="section-title">
                                    <h3>About Us</h3>
                                </div>
                                <div class="widget-content">
                                    <div class="text"><p style="text-align:justify;">It’s not about HOW we do or What we do..It’s all about WHY we do!
With increasing complexity, diversity, social spamming and interpersonal communication constraints there exist a “gap”   between individuals, firms and their people.
Even technology, is not able to fill that but has made it more complicated </p> </div>
                                    <!--<div class="link">
                                        <a href="#" class="default_link">More About us <i class="fa fa-angle-right"></i></a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <div class="section-title">
                                    <h3>what we do</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="service-single.html">Creating Impact of You and Your Brand</a></li>
                                        <li><a href="service-single.html">Corporate Profiling</a></li>
                                        <li><a href="service-single.html">PR and Promotions</a></li>
                                        <li><a href="service-single.html">Image and Brand Consultancy</a></li>
                                        <li><a href="service-single.html">Expression Expert</a></li>
                                        <li><a href="service-single.html">Initiatives</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget posts-widget">
                                <div class="section-title">
                                    <h3>latest news</h3>
                                </div>
                                <div class="widget-content">
                                    <!--Post-->
                                    <div class="post">
                                        <div class="content">
                                            <h4><a href="#">Seminar for improve your business <br>profit & loss</a></h4>
                                        </div>
                                        <div class="time">August 21, 2016</div>
                                    </div>
                                    <!--Post-->
                                    <div class="post">
                                        <div class="content">
                                            <h4><a href="#">Experts Openion for save money <br>for your future.</a></h4>
                                        </div>
                                        <div class="time">March 14, 2016</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <div class="section-title">
                                    <h3>contact us</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><span class="icon fa fa-phone"></span>EI LABS 2, gate no.2, VIP Karishma, Shankar NAGAR, Raipur 492001 </li>
                                        <li><span class="icon fa fa-envelope"></span> Phone: +91 8982 222356</li>
                                        <li><span class="icon fa fa-paper-plane"></span>www.eilabs.org</li>
                                    </ul>
                                </div>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <section class="footer-bottom">
        <div class="container">
            <div class="pull-left copy-text">
                <p>© 2017 | GO AHEAD. COPY THE DESIGN. WE WILL MAKE A NEW ONE <a href=""> EILABS.ORG</a></p>

            </div><!-- /.pull-right -->
            <!--<div class="pull-right get-text">
                <ul>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                </ul>
            </div>-->
        </div><!-- /.container -->
    </section>

</footer>