<!--<header class="top-bar">
    <div class="container">
        <div class="clearfix">
            <ul class="top-bar-text float_left">
                <li><i class="icon-technology-1"></i>Phone +91 8982 222356 </li>
                <li><i class="icon-note"></i>www.eilabs.org</li>
                <li><i class="icon-world"></i>EI LABS 2, gate no.2, VIP Karishma, Shankar NAGAR, Raipur 492001</li>
            </ul>
            <ul class="social float_right">
                <li><a href="https://www.facebook.com/eilabs.org" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa fa-skype"></i></a></li>
            </ul>
        </div>


    </div>
</header>-->

<section class="theme_menu stricky">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="main-logo">
                    <a href="index.html"><img src="images/logo/Untitled-1.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-md-6 menu-column">
                <nav class="menuzord" id="main_menu">
                    <ul class="menuzord-menu">
                        <!--<li><a href="#!/home">Home</a></li>

                        <li>
                            <a href="#!/about">About us</a>               
                        </li>-->

                        <li><a href="">services</a>
                            <ul class="dropdown">
                                <li><a href="#!/corporate_personal">Corporate and Personal Profiling</a></li>
                                <li><a href="#!/pr_promotions">PR and Promotions</a></li>
                                <li><a href="#!/image_brand">Image and Brand Consultancy</a></li>
                                <li><a href="#!/expression_expert">Expression Expert</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!/initiative">Initiatives</a>
                        </li>
                        <li>
                            <a href="#!/blog">blog</a>
                        </li>

                        <li>
                            <a href="#!/team">Team</a>
                        </li>
                    </ul><!-- End of .menuzord-menu -->
                </nav> <!-- End of #main_menu -->
            </div>
            <div class="right-column">
                <div class="right-area">
                    <div class="link_btn float_right">
                        <a href="#!/contact" class="thm-btn">Contact Us</a>
                    </div>
                </div>

            </div>
        </div>


    </div> <!-- End of .conatiner -->
</section>

<script>
    if ($("#main_menu").length) {
        $("#main_menu").menuzord({
            animation: "zoom-out"
        });
    }
</script>